.blinking{
    /* animation:blinkingText 1.2s infinite; */
    padding-left: 40px;
}

.perso{
    background-color: #3a7ca8;
}

.bannerPerso{
    background-image:url('ccm.jpg');
    background-position-x: center;
    background-position-y: center;
    background-image: url(ccm.jpg);
    background-size: 1500px;

}

@keyframes blinkingText{
    0%{     color: #595C5E;    }
    49%{    color: #595C5E; }
    60%{    color: white; }
    99%{    color:white;  }
    100%{   color: #595C5E;    }
}
