#banner {
    background-image:url('ccm.jpg');
    background-position-x: center;
    background-position-y: center;
    background-image: url(ccm.jpg);
    background-size: 1900px;
    background-blend-mode:overlay;
    height:140px;
}

.titlePerso {
    text-transform: capitalize;
    font-size: xx-large;

}


#menu .menu_perso
{
    background: blue;
    color: #FFF;
}
